
.product-card {
    border: 2px solid #333;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    box-sizing: border-box;
    background-color: #fff;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}

button[type="button"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}


.product-card ul li {
    padding: 8px 0;
}

.product-card ul li:hover {
    background-color: #f0f0f0;
}
